#body{
	background-color: #dcdde1;
}

#img{
	border-radius: 50%;
}

#para{
	font-size: 12.5px;
}

#t{
	text-align: left;
}

#img1{
	width: 360px;
	height: 200px;
}

#icon1{
	width: 17px;
	height: 17px;
}

.card{
	box-shadow: 2px 5px 10px #ccc;

}

#icon2{
	width: 25px;
	height: 25px;
	float: right;
}

